<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<add name="SqliteConnection"
			 connectionString="Data Source=C:/Users/merey/source/databases/MuhtarlikDB.sqlite;Version=3;"
			 providerName="System.Data.SQLite" /> 
		<!-- 
		DB Browser for SQLite - PortableApp
		https://sqlitebrowser.org/dl/ 
		--> 
	</connectionStrings>
</configuration>




























